<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Informations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
<div class ="container mt-2">
    {% block content %}
    <h4>Update Student informations Here!</h4>
     <form method="post">{% csrf_token %}
      <div>
          <p>Please update the  Student Information</p>
          <hr />
      </div>
    </div>
    
  <div>
          <label for="name"><b>name</b></label>
          <input
            type="text"
            placeholder="Enter Name"
            name="{{form.name}}"
          <p></p>
      </div>
          <label for="roll"><b>rollno</b></label>
          <input
            type="text"
            placeholder="Enter rollno"
            name="roll"
            required
          /><br />
          <p></p>
  
          <label for="email"><b>Email: </b></label>
          <input
            type="email"
            placeholder="Enter Email"
            name="emailid"
            required
          /><br />
          <p></p>
  
          <label for="contactno"><b>Contact</b></label>
          <input
            type="number"
            placeholder="Enter contactno"
            name="contactno"
            maxlength="10"
            required
          /><br />
          <p></p>
  
          <label for="city"><b>city</b></label>
          <input
            type="city"
            placeholder="Enter city"
            name="city"
            required
          /><br />
          <p></p>
  
          <label for="state"><b>state</b></label>
          <input
            type="state"
            placeholder="Enter state"
            name="state"
            required
          /><br />
          <p></p>
  
          <label for="pincode"><b>pincode</b></label>
          <input
            type="pincode"
            placeholder="Enter pincode"
            name="pincode"
            required
          /><br><br />
        
          <button type="submit" class="btn btn-primary">Update </button>
          <a href="{% url 'index'%}"<button type="Back" class="btn btn-secondary">Back</button> 
      </form>
    
    
      {% comment %} <form method = "post">
        {% csrf_token%}
        {{form}} {% endcomment %}


      {% comment %} </form> {% endcomment %}

    </div>
</div>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>